.small-0 {
    font-size: 8px;
    padding: 0;
}
.small-1 {
    font-size: 9px;
    padding: 0;
}
.small-2 {
    font-size: 10px;
    padding: 0;
}
.section {
    font-size: 130%;
}
.preferences {
    font-size: 110%;
    font-weight: 600;
}
.block {
    border: 0.5px solid;
    border-radius: 0.5em;
    padding: 0.5em;
    font-weight: bold;
}
.volume-wrapper {
    border: 0.1px solid;
}
.volumes {
    opacity: 0.9;
    padding: 0;
}
.res-card {
    padding: 12px;
}
